<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %} | Projects</title>

	<link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/base.css" type="text/css" media="all" charset="utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/work.css" type="text/css" media="all" charset="utf-8">

	<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}js/button_pager.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
{% block header %}
	<div id="header">
		<ul id="globalnav">
			<li id="gn-work"><a href="/">Work</a></li>
			<li id="gn-blog"><a href="http://iwebthereforeiam.com/iwebthereforeiam/">Blog</a></li>
			<li id="gn-about"><a href="/about/">About</a></li>
			<!-- <li id="gn-contact"><a href="/contact/">Contact</a></li> -->
		</ul>
	</div>
{% endblock %}

<div id="main">
    <div id="content-main">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div id="footer">
{% block footer %}
        <p>Copyright <a href="http://www.hughdbrown.com/">Hugh Brown</a>
		&bull;
        <a href="http://creativecommons.org/licenses/by/3.0/us/" title="Creative Commons Attribution">Some Rights Reserved</a>
		&bull;
        <a href="http://www.djangoproject.com/">Django powered</a>
{% endblock %}
</div>

</body>
</html>
