#main {
	overflow: hidden;
	position: relative;
	background-color: rgb(255, 255, 255);
	color: rgb(53, 62, 52);
	padding-bottom: 0em;
}
#main a { /*color: rgb(0, 133, 189)*/ color: rgb(48, 80, 144); }
#main a:hover { color: rgb(90, 176, 212) }

#header,
#footer,
#content-main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}

#content-main {
    margin-top: 1em;
    margin-bottom: 1em;
}
