/*
 .generic-text {
    float: left;
    clear: left;
    width: 476px;
    padding: 0 180px;
    line-height: 1.5em;
}

.generic-text p,
.generic-text ul {
    margin-bottom: 1em;
}

.generic-text .intro {
    font-size: 1.125em;
    font-weight: bold;
}

*/
